@{ Layout = "_Layout";}

@{var disputes = (IPagedList<portchlytAPI.Models.mDispute>)ViewBag.disputes;}
@using PagedList.Core;
@using PagedList;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PagedList.Core.Mvc




<h1>Diputes</h1>


<table class="table table-hover td_ellipsize">
    <thead>
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Reason</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dispute in disputes)
        {
            <tr>
                <td title="@dispute.dispute_status">@dispute.dispute_status</td>
                <td title="@dispute.date.ToString("d MMM yyyy")">@dispute.date.ToString("d MMM yyyy")</td>
                <td title="@dispute.reason_for_dispute">@dispute.reason_for_dispute</td>
                <td><a href="/Admin/view_dispute?dispute_id=@dispute._id">Open</a></td>
            </tr>
        }
    </tbody>
</table>


@*pager indicator*@
<pager class="pager-container"
       list="@disputes"
       options="@PagedList.Core.Mvc.PagedListRenderOptions.PageNumbersOnly"
       asp-action="disputes"
       asp-controller="Admin"
       asp-route-keyword="" />









